/* Global */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #F5F7FB;
  background-image: url("./assets/bg-img-one.png"), url("./assets/bg-img-two.png");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 32vh, 32vh;
  font-family: 'Roboto', sans-serif;
}

/* Initial Component */
.intial-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intial-page-container-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em 4em;
  border-radius: 0.75em;
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.intial-page-container-heading, .intial-page-container-description {
  color: #293264;
}

.intial-page-container-heading{
  margin-bottom: 0.1em;
}

/*Quiz Page*/
input[type="radio"]{
  appearance: none;
}

.quiz-container {
  max-width: 90%;
  margin: 1em auto;

}


.quiz-container-ans-options{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid #DBDEF0;
}
.quiz-container-answer-btn {
  padding: 0.5em 1.2em; 
  border: 1px solid #4D5B9E;
  border-radius: 0.5em;
  color: #D6DBF5;
  margin: 0.5em;
}

.quiz-container-answer-btn> span {
  color: #4D5B9E;
}

.quiz-container-question {
  color: #293264;
}

.btn-blue{
  padding: 0.8em 2em;
  margin-bottom: 2em;
  align-self: center;
  border-radius: 1em;
  background-color: #4D5B9E;
  color: white;
}

.quiz-questions-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 1em auto;
}


input[type="radio"]:hover+label, .btn-blue{
  cursor: pointer;
}

.play-again-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.play-again-btn {
  margin-left: 2em;
}

.play-again-container-correct-answers {
  color: #293264;
}

.correct-answer {
  background-color: #94D7A2;
}

.incorrect-answer{
  background-color: #F8BCBC;
}

.selected-btn {
  background-color: #D6DBF5;
}

.not-selected{
  background-color: #EEEEEE;
  border: none;
}

@media (min-width: 700px){
  .quiz-container {
    width: 900px;
  }
}
